<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ite.cookeat.domain.longcook.mapper.LongcookMapper">
  <select id="selectLongcookList" parameterType="Map" resultType="GetLongcookRes">
    <![CDATA[
    SELECT a.longcook_id                               as longcookId,
           a.title,
           a.longcook_url                              as longcookUrl,
           TO_CHAR(a.regdate, 'YYYY-MM-DD HH24:MI:SS') as regdate
    FROM longcook a
           INNER JOIN member b ON b.member_id = a.member_id
    WHERE #{username} = b.username
      AND b.status = 'ACTIVE'
    ORDER BY a.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
  </select>
  <select id="selectLongcookListCount" parameterType="String" resultType="Integer">
    <![CDATA[
    SELECT COUNT(a.longcook_id)
    FROM longcook a
           INNER JOIN member b ON b.member_id = a.member_id
    WHERE #{username} = b.username
      AND b.status = 'ACTIVE'
    ]]>
  </select>
</mapper>