<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ite.cookeat.domain.fridge.mapper.FridgeMapper">

  <insert id="insertIngredient" parameterType="PostMemberIngredientReq">
    <selectKey keyProperty="ingredientId" order="BEFORE" resultType="Integer">
      <![CDATA[
        SELECT ingredient_member_seq.nextval AS ingredientId FROM dual
      ]]>
    </selectKey>
    <![CDATA[
    INSERT INTO ingredient_member (ingredient_id, member_id, name, amount, icon, expdate, regdate)
    VALUES (#{ingredientId}, #{memberId}, #{name}, #{amount}, #{icon}, #{expdate}, CURRENT_TIMESTAMP)
    ]]>
  </insert>

  <select id="selectIngredients" parameterType="Map" resultType="GetMemberIngredientsRes">
    SELECT ingredient_id AS ingredientId, name, amount, icon, expdate
    FROM ingredient_member
    WHERE member_id = #{memberId}
    AND deletedate IS NULL
    <if test="filtering == 'valid'">
      <![CDATA[
      AND expdate > CURRENT_DATE
    ]]>
    </if>
  </select>

  <update id="updateIngredientDeletedate" parameterType="Integer">
<![CDATA[
    UPDATE ingredient_member
    SET deletedate = CURRENT_TIMESTAMP
    WHERE ingredient_id = #{ingredientId}
    ]]>
  </update>
</mapper>