<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ite.cookeat.domain.sskcook.mapper.SskcookMapper">

  <delete id="deleteLikes" parameterType="PostLikesReq">
    <![CDATA[
    DELETE
    FROM likes
    WHERE #{memberId} = member_id
      AND #{sskcookId} = sskcook_id
    ]]>
  </delete>
  <delete id="deleteReport" parameterType="PostLikesReq">
    <![CDATA[
    DELETE
    FROM report
    WHERE #{memberId} = member_id
      AND #{sskcookId} = sskcook_id
    ]]>
  </delete>
  <insert id="insertReport" parameterType="PostLikesReq">
 <![CDATA[
    INSERT INTO report(report_id, member_id, sskcook_id, report_date)
    VALUES (report_seq.nextval, #{memberId}, #{sskcookId}, CURRENT_TIMESTAMP)
    ]]>
  </insert>

  <insert id="insertLikes" parameterType="PostLikesReq">
  <![CDATA[
    INSERT INTO likes(like_id, member_id, sskcook_id)
    VALUES (like_seq.nextval, #{memberId}, #{sskcookId})
    ]]>
  </insert>

  <!-- selectSskcookDetails - tags 매핑 -->
  <resultMap id="tagsResultMapAtSelectSskcook" type="String">
    <result column="hashtagName" property="hashtagName"/>
  </resultMap>

  <!-- selectSskcookDetails - details 매핑 -->
  <resultMap id="detailsResultMapAtSelectSskcook" type="GetSskcookDetailsRes">
    <result column="sskcookId" property="sskcookId"/>
    <result column="sskcookUrl" property="sskcookUrl"/>
    <result column="recipe" property="recipe"/>
    <result column="title" property="title"/>
    <result column="reportStatus" property="reportStatus"/>
    <result column="likeStatus" property="likeStatus"/>
    <result column="storeStatus" property="storeStatus"/>
    <result column="followStatus" property="followStatus"/>
    <result column="nickname" property="nickname"/>
    <result column="profileImage" property="profileImage"/>
    <result column="likeCount" property="likeCount"/>
  </resultMap>

  <!-- selectSskcookDetails - ingredients 매핑 -->
  <resultMap id="ingredientsResultMapAtSelectSskcook" type="GetSskcookIngredientsRes">
    <result column="name" property="name"/>
    <result column="amount" property="amount"/>
  </resultMap>

  <!-- Ingredient와 Hashtag를 위한 ResultMap 정의 -->
  <resultMap id="ingredientResultMapAtAddSskcook" type="PostSskcookIngredientReq">
    <result column="name" property="name"/>
    <result column="amount" property="amount"/>
  </resultMap>

  <resultMap id="hashtagResultMap" type="PostHashtagReq">
    <result column="hashtagId" property="hashtagId"/>
  </resultMap>

  <select id="addSskcookWithDetails" statementType="CALLABLE">
    { CALL add_sskcook_with_details(
      #{memberId, mode=IN, jdbcType=INTEGER},
      #{title, mode=IN, jdbcType=VARCHAR},
      #{recipe, mode=IN, jdbcType=VARCHAR},
      #{sskcookUrl, mode=IN, jdbcType=VARCHAR},
      #{ingredientsJson, mode=IN, jdbcType=CLOB},
      #{hashtagsJson, mode=IN, jdbcType=CLOB},
      #{sskcookId, mode=OUT, jdbcType=INTEGER}
           ) }
  </select>

  <select id="selectSskcookDetails" parameterType="GetSskcookDetailsReq" statementType="CALLABLE">
    { CALL PROC_GET_SSKCOOK_DETAILS(
      #{username, mode=IN, jdbcType=VARCHAR},
      #{sskcookId, mode=IN, jdbcType=INTEGER},
      #{tags, mode=OUT, jdbcType=CURSOR, resultMap=tagsResultMapAtSelectSskcook},
      #{details, mode=OUT, jdbcType=CURSOR, resultMap=detailsResultMapAtSelectSskcook},
      #{ingredients, mode=OUT, jdbcType=CURSOR, resultMap=ingredientsResultMapAtSelectSskcook})}
  </select>

  <select id="selectNullSskcookDetails" parameterType="GetNullSskcookDetailsReq"
    statementType="CALLABLE">
    {CALL PROC_GET_NULL_SSKCOOK_DETAILS(
      #{sskcookId, mode = IN, jdbcType=INTEGER},
      #{tags, mode=OUT, jdbcType=CURSOR, resultMap=tagsResultMapAtSelectSskcook},
      #{details, mode=OUT, jdbcType=CURSOR, resultMap=detailsResultMapAtSelectSskcook},
      #{ingredients, mode=OUT, jdbcType=CURSOR, resultMap=ingredientsResultMapAtSelectSskcook})}
  </select>

  <select id="updateSskcookWithDetails" resultType="Integer" statementType="CALLABLE">
    { CALL update_sskcook_with_details(
      #{sskcookId, mode=IN, jdbcType=INTEGER},
      #{title, mode=IN, jdbcType=VARCHAR},
      #{recipe, mode=IN, jdbcType=VARCHAR},
      #{sskcookUrl, mode=IN, jdbcType=VARCHAR},
      #{ingredientsJson, mode=IN, jdbcType=CLOB},
      #{hashtagsJson, mode=IN, jdbcType=CLOB},
      #{updatedCount, mode=OUT, jdbcType=INTEGER}
           ) }
  </select>

  <select id="selectSskcookUrl" parameterType="Integer" resultType="String">
    SELECT sskcook_url
    FROM sskcook
    WHERE sskcook_id = #{sskcookId}
  </select>

  <select id="selectLikesCount" parameterType="PostLikesReq" resultType="Integer">
    <![CDATA[
    SELECT COUNT(member_id)
    FROM likes
    WHERE member_id = #{memberId}
      AND sskcook_id = #{sskcookId}
    ]]>
  </select>
  <select id="selectReportCount" parameterType="PostLikesReq" resultType="Integer">
    <![CDATA[
    SELECT COUNT(member_id)
    FROM report
    WHERE member_id = #{memberId}
      AND sskcook_id = #{sskcookId}
    ]]>
  </select>
  <select id="selectSearchRecentSskcook" parameterType="Map"
    resultType="GetSearchSskcookRes">
        <![CDATA[
    SELECT a.sskcook_url as sskcookUrl,
           a.sskcook_id  as sskcookId,
           a.regdate,
           b.nickname,
           a.member_id,
           a.title
    FROM (SELECT s.title,
                 s.sskcook_url,
                 s.sskcook_id,
                 s.regdate,
                 s.member_id,
                 s.status,
                 ROW_NUMBER() OVER (ORDER BY s.regdate DESC) as row_num
          FROM sskcook s
          WHERE LOWER(s.title) LIKE '%' || LOWER(#{keyword}) || '%'
            AND s.status = 'ACTIVE') a
           INNER JOIN member b ON a.member_id = b.member_id
    ORDER BY a.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
  </select>
  <select id="selectSearchSskcookListCount" parameterType="String" resultType="Integer">
    <![CDATA[
    SELECT COUNT(a.sskcook_id)
    FROM sskcook a
           INNER JOIN member b ON a.member_id = b.member_id
    WHERE LOWER(a.title) LIKE '%' || LOWER(#{keyword}) || '%'
      AND a.status = 'ACTIVE'
    ]]>
  </select>
  <select id="selectSearchLikesSskcookList" parameterType="Map"
    resultType="GetSearchSskcookRes">
        <![CDATA[
    SELECT c.sskcook_url        AS sskcookUrl,
           c.sskcook_id         AS sskcookId,
           c.regdate,
           b.nickname,
           c.member_id,
           c.title,
           NVL(a.countLikes, 0) AS countLikes
    FROM (SELECT sskcook_id,
                 sskcook_url,
                 title,
                 regdate,
                 member_id,
                 status
          FROM sskcook
          WHERE LOWER(title) LIKE '%' || LOWER(#{keyword}) || '%'
            AND status = 'ACTIVE') c
           LEFT JOIN (SELECT COUNT(sskcook_id) AS countLikes,
                             sskcook_id
                      FROM likes
                      GROUP BY sskcook_id) a ON a.sskcook_id = c.sskcook_id
           INNER JOIN member b ON b.member_id = c.member_id
    ORDER BY countLikes DESC, c.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
    </select>
  <select id="selectRecentSskcookList" parameterType="Map"
    resultType="GetSearchSskcookRes">
        <![CDATA[
    SELECT a.sskcook_url as sskcookUrl,
           a.sskcook_id  as sskcookId,
           a.title,
           a.regdate,
           a.member_id,
           b.nickname,
           b.profile_img
    FROM sskcook a
           INNER JOIN member b ON a.member_id = b.member_id
    WHERE a.status = 'ACTIVE'
    ORDER BY a.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
    </select>
  <select id="selectRecentSskcookListCount" resultType="Integer">
  <![CDATA[
    SELECT COUNT(a.sskcook_id)
    FROM sskcook a
           INNER JOIN member b ON a.member_id = b.member_id
      AND a.status = 'ACTIVE'
    ]]>
  </select>
  <select id="selectMonthlySskcookList" parameterType="Map"
    resultType="GetSearchSskcookRes">
<![CDATA[
    SELECT c.sskcook_url        AS sskcookUrl,
           c.sskcook_id         AS sskcookId,
           c.regdate,
           b.nickname,
           c.member_id,
           c.title,
           NVL(a.countLikes, 0) AS countLikes
    FROM (SELECT sskcook_id,
                 sskcook_url,
                 title,
                 regdate,
                 member_id,
                 status
          FROM sskcook
          WHERE TO_CHAR(regdate, 'yyyy-mm') = #{date}
            AND status = 'ACTIVE') c
           LEFT JOIN (SELECT COUNT(sskcook_id) AS countLikes,
                             sskcook_id
                      FROM likes
                      GROUP BY sskcook_id) a
                     ON a.sskcook_id = c.sskcook_id
           INNER JOIN member b ON b.member_id = c.member_id
    ORDER BY countLikes DESC, c.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
  </select>

  <select id="selectMonthlySskcookListCount" parameterType="String" resultType="Integer">
    <![CDATA[
    SELECT COUNT(a.sskcook_id)
    FROM sskcook a
           INNER JOIN member b ON a.member_id = b.member_id
    WHERE TO_CHAR(a.regdate, 'yyyy-mm') = #{date}
      AND a.status = 'ACTIVE'
    ]]>
  </select>

  <select id="selectUserSskcookList" parameterType="Map" resultType="GetSearchSskcookRes">
    <![CDATA[
    SELECT c.sskcook_url        AS sskcookUrl,
           c.sskcook_id         AS sskcookId,
           c.title,
           b.nickname,
           NVL(a.countLikes, 0) AS countLikes
    FROM (SELECT sskcook_id,
                 sskcook_url,
                 title,
                 regdate,
                 member_id,
                 status
          FROM sskcook
          WHERE member_id IN (SELECT member_id
                              FROM member
                              WHERE username = #{username}
                                AND status = 'ACTIVE')
            AND status = 'ACTIVE') c
           LEFT JOIN (SELECT COUNT(sskcook_id) AS countLikes,
                             sskcook_id
                      FROM likes
                      GROUP BY sskcook_id) a ON a.sskcook_id = c.sskcook_id
           INNER JOIN member b ON b.member_id = c.member_id
    ORDER BY countLikes DESC, c.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
  </select>

  <select id="selectUserSskcookListCount" parameterType="String" resultType="Integer">
    <![CDATA[
    SELECT COUNT(s.sskcook_id)
    FROM sskcook s
           INNER JOIN member m ON s.member_id = m.member_id
    WHERE s.status = 'ACTIVE'
      AND #{username} = m.username
    ]]>
  </select>

  <select id="selectTagSskcookList" parameterType="Map" resultType="GetSearchSskcookRes">
    <![CDATA[
    SELECT c.sskcook_url        AS sskcookUrl,
           c.sskcook_id         AS sskcookId,
           c.title,
           b.nickname,
           c.regdate,
           NVL(a.countLikes, 0) AS countLikes
    FROM sskcook c
           LEFT JOIN (SELECT COUNT(sskcook_id) AS countLikes,
                             sskcook_id
                      FROM likes
                      GROUP BY sskcook_id) a
                     ON a.sskcook_id = c.sskcook_id
           INNER JOIN member b ON b.member_id = c.member_id AND b.status = 'ACTIVE'
    WHERE EXISTS (SELECT 1
                  FROM sskcook_hashtag sh
                         INNER JOIN hashtag h ON h.hashtag_id = sh.hashtag_id
                  WHERE sh.sskcook_id = c.sskcook_id
                    AND h.hashtag_name = #{tag})
    ORDER BY countLikes DESC, c.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
  </select>

  <select id="selectTagSskcookListCount" parameterType="String" resultType="Integer">
    <![CDATA[
    SELECT COUNT(c.sskcook_id)
    FROM sskcook c
           INNER JOIN member b ON b.member_id = c.member_id AND b.status = 'ACTIVE'
    WHERE EXISTS (SELECT 1
                  FROM sskcook_hashtag sh
                         INNER JOIN hashtag h ON h.hashtag_id = sh.hashtag_id
                  WHERE sh.sskcook_id = c.sskcook_id
                    AND h.hashtag_name = #{tag})
    ]]>
  </select>

  <select id="selectSskcookTags" parameterType="Integer" resultType="String">
<![CDATA[
    SELECT a.hashtag_name
    FROM hashtag a
           INNER JOIN sskcook_hashtag b ON a.hashtag_id = b.hashtag_id
    WHERE b.sskcook_id = #{sskcookId}
    ]]>
</select>

  <select id="selectSskcookIngredients" parameterType="Integer"
    resultType="GetSskcookIngredientsRes">
<![CDATA[
    SELECT name, amount
    FROM ingredient_sskcook
    WHERE #{sskcookId} = sskcook_id
    ]]>
  </select>
  <update id="updateSskcookCount" parameterType="Integer">
<![CDATA[
    UPDATE member
    SET sskcook_count = (SELECT COUNT(*)
                         FROM sskcook
                         WHERE member_id = #{memberId}
                           AND STATUS = 'ACTIVE')
    WHERE member_id = #{memberId}
    ]]>
  </update>

  <update id="updateSskcookDeletedate" parameterType="Integer">
<![CDATA[
    UPDATE sskcook
    SET deletedate = CURRENT_TIMESTAMP,
        status     = 'INACTIVE'
    WHERE sskcook_id = #{sskcookId}
    ]]>
  </update>
</mapper>