<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ite.cookeat.domain.member.mapper.MemberMapper">
    <select id="selectUsername" resultType="Member"
            parameterType="String">
        <![CDATA[
        SELECT member_id as memberId, username, password, roles, TO_CHAR(profile_img) profileImage, nickname
        FROM member
        WHERE username = #{username} AND deletedate IS NULL
        ]]>
	</select>

    <insert id="insertMember" parameterType="Member" keyProperty="memberId">
         <![CDATA[
        INSERT INTO member(member_id, username, password, nickname, profile_img, regdate, status, subscription_count, ssgcook_count, verified_status, roles, one_liner)
        VALUES (member_seq.nextval, #{username}, #{password}, #{nickname}, UTL_RAW.CAST_TO_RAW(#{profileImage}), CURRENT_TIMESTAMP, 'ACTIVE', 0, 0, 'UNVERIFIED', 'ROLE_USER', null)
        ]]>
    </insert>

    <select id="selectDuplicatedUsername" parameterType="String" resultType="Integer">
        <![CDATA[
        SELECT COUNT(username)
        FROM member
        WHERE username = #{username} AND deletedate IS NULL
        ]]>
    </select>
    
</mapper>