<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ite.cookeat.domain.member.mapper.MemberMapper">

  <insert id="insertMember" keyProperty="memberId" parameterType="Member">
    <![CDATA[
    INSERT INTO member(member_id, username, password, nickname, profile_img, regdate, status,
                       subscription_count, ssgcook_count, verified_status, roles, one_liner)
    VALUES (member_seq.nextval, #{username}, #{password}, #{nickname},
            UTL_RAW.CAST_TO_RAW(#{profileImage}), CURRENT_TIMESTAMP, 'ACTIVE', 0, 0, 'UNVERIFIED',
            'ROLE_USER', null)
    ]]>
    </insert>

  <select id="selectUserDetails" parameterType="String" resultType="GetUserDetailsRes">
        <![CDATA[
    SELECT nickname,
           TO_CHAR(profile_img) as profileImage,
           one_liner            AS oneLiner,
           subscription_count   as subscriptionCount,
           ssgcook_count        as sskcookCount
    FROM member
    WHERE username = #{username}
      AND status = 'ACTIVE'
    ]]>
    </select>

  <select id="selectDuplicatedUsername" parameterType="String" resultType="Integer">
        <![CDATA[
    SELECT COUNT(username)
    FROM member
    WHERE username = #{username}
      AND deletedate IS NULL
    ]]>
    </select>

  <select id="selectMemberNotices" parameterType="Map" resultType="GetMemberNoticeRes">
    <![CDATA[
    SELECT n.notice_id AS noticeId, n.title, n.content
    FROM member m
           INNER JOIN notice n ON m.member_id = n.member_id
    WHERE m.username = #{username}
      AND n.deletedate IS NULL
    ORDER BY n.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
  </select>

  <select id="selectMemberNoticeCount" parameterType="String" resultType="Integer">
    <![CDATA[
    SELECT COUNT(notice_id)
    FROM member m
           INNER JOIN notice n ON m.member_id = n.member_id
    WHERE username = #{username}
      AND n.deletedate IS NULL
    ]]>
  </select>

  <select id="selectMemberId" parameterType="String" resultType="Integer">
    <![CDATA[
    SELECT member_id
    FROM member
    WHERE username = #{username}
      AND status = 'ACTIVE'
    ]]>
  </select>

  <select id="selectUsername" parameterType="String"
    resultType="Member">
    <![CDATA[
    SELECT member_id as         memberId,
           username,
           password,
           roles,
           TO_CHAR(profile_img) profileImage,
           nickname
    FROM member
    WHERE username = #{username}
      AND deletedate IS NULL
    ]]>
	</select>

  <update id="updateMemberOneLiner" parameterType="PostMemberOneLinerReq">
  <![CDATA[
    UPDATE member
    SET one_liner = #{oneLiner}
    WHERE username = #{username}
    ]]>
  </update>

  <select id="selectSearchMember" parameterType="GetSearchSskcookReq"
    resultType="GetUserDetailsRes">
    <![CDATA[
    SELECT username,
           nickname,
           TO_CHAR(profile_img) as profileImage,
           subscription_count   as subscriptionCount,
           sskcook_count        as sskcookCount
    FROM member
    WHERE LOWER(nickname) LIKE '%' || LOWER(#{keyword}) || '%'
      AND status = 'ACTIVE'
    ORDER BY subscription_count DESC, ssgcook_count DESC, regdate DESC
    OFFSET (#{page} - 1) * #{pageSize} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    ]]>
  </select>
</mapper>