<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    파일명 : EventMapper.xml
    설  명 : 이벤트 목록, 상세 조회 페이지
    == 개정이력 ========================================
    수정일         수정자     수정내용
    ==========   =======   ================================
 * 2024.08.25    김지수       최초 생성, 이벤트 목록 및 상세 조회
 * 2024.09.21    김지수       이벤트 목록 조회 시 filtering 조건 추가
-->
<mapper namespace="com.ite.cookeat.domain.event.mapper.EventMapper">

  <select id="selectEventList" parameterType="Criteria" resultType="GetEventRes">
<![CDATA[
    SELECT event_id           AS eventId,
           title,
           startdate,
           enddate,
           TO_CHAR(thumbnail) AS thumbnail,
           regdate
    FROM event
    WHERE deletedate IS NULL
    ]]>
    <if test="filtering == 'recipe'">
          AND title like '%레시피%'
        </if>
<![CDATA[
    ORDER BY regdate DESC,
             CASE
               WHEN enddate >= CURRENT_DATE THEN 0
               ELSE 1
               END
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
    ]]>
  </select>

  <select id="selectEventDetail" parameterType="Integer" resultType="GetEventDetailRes">
<![CDATA[
    SELECT event_id           AS eventId,
           title,
           content,
           startdate,
           enddate,
           TO_CHAR(thumbnail) AS thumbnail,
           regdate
    FROM event
    WHERE deletedate IS NULL
      AND event_id = #{eventId}
    ]]>
  </select>

  <select id="selectEventCount">
    <![CDATA[
    SELECT COUNT(event_id)
    FROM event
    WHERE deletedate IS NULL
    ]]>
  </select>
</mapper>
