<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ite.cookeat.domain.live.mapper.LiveMapper">

  <insert id="insertLive" parameterType="PostLiveReq">
    <selectKey keyProperty="liveId" order="BEFORE" resultType="Integer">
      <![CDATA[
        SELECT live_seq.nextval AS liveId FROM dual
      ]]>
    </selectKey>
    <![CDATA[
        INSERT INTO live (live_id, member_id, title, people, thumbnail, regdate, session_id, type)
        VALUES (#{liveId}, #{memberId}, #{title}, #{people}, UTL_RAW.CAST_TO_RAW(#{thumbnail}), CURRENT_TIMESTAMP, #{sessionId}, #{type})
    ]]>
  </insert>
  <select id="selectLiveListByKeyword" parameterType="Map" resultType="GetLiveRes">
    SELECT l.live_id AS liveId, m.nickname, m.username, l.people, l.title
    FROM live l
    INNER JOIN member m ON m.member_id = l.member_id
    WHERE
    <if test="keyword != null and keyword != ''">
      (
      LOWER (m.nickname) LIKE '%' || LOWER (#{keyword}) || '%'
      OR
      LOWER (l.title) LIKE '%' || LOWER (#{keyword}) || '%'
      ) AND
    </if>
    l.enddate IS NULL
    ORDER BY l.regdate DESC
    OFFSET (#{cri.pageNum} - 1) * #{cri.pageSize} ROWS FETCH NEXT #{cri.pageSize} ROWS ONLY
  </select>

  <select id="selectLiveCount" parameterType="String" resultType="Integer">
    SELECT COUNT(l.live_id)
    FROM live l
    INNER JOIN member m ON m.member_id = l.member_id
    WHERE
    <if test="keyword != null and keyword != ''">
      (
      LOWER (m.nickname) LIKE '%' || LOWER (#{keyword}) || '%'
      OR
      LOWER (l.title) LIKE '%' || LOWER (#{keyword}) || '%'
      ) AND
    </if>
    l.enddate IS NULL
  </select>

  <select id="selectLiveDetail" parameterType="String" resultType="GetLiveRes">
    SELECT l.live_id AS liveId,
           m.nickname,
           m.username,
           l.people,
           l.title
    FROM live l
           INNER JOIN member m ON m.member_id = l.member_id
      AND l.session_id = #{sessionId}
      AND l.enddate IS NULL
  </select>
</mapper>
