<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    파일명 : AlertMapper.xml
    설  명 : 사용자 실시간 웹 알림(SSE)

    == 개정이력 ========================================
    수정일         수정자     수정내용
    ==========   =======   ================================
    2024.08.26   김지수      최초 생성, 사용자 SSE 등록
    2024.09.09   김지수      사용자 SSE 등록 StoredProcedure 적용
    2024.09.11   김지수      SSE 발생
-->
<mapper namespace="com.ite.cookeat.domain.alert.mapper.AlertMapper">

  <insert id="insertEventAlertMember" parameterType="PostEventAlertMemberReq"
    statementType="CALLABLE">
    CALL PROC_INSERT_ALERT(#{username, mode=IN, jdbcType=VARCHAR}, #{eventId, mode=IN, jdbcType=INTEGER}, #{result, mode=OUT, jdbcType=INTEGER})
  </insert>

  <select id="selectEventMember" parameterType="Integer" resultType="Integer">
    SELECT member_id
    FROM alert
    WHERE event_id = #{eventId}
  </select>
</mapper>